[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule ".zsh.d/plugins/zsh-syntax-highlighting"]
	path = .zsh.d/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh.d/plugins/zsh-autosuggestions"]
	path = .zsh.d/plugins/zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions
[submodule ".zsh.d/plugins/zsh-completions"]
	path = .zsh.d/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
