[user]
	name = Toshihiro Morimoto
    email = dealforest.net@gmail.com
[include]
    path = ~/.gitconfig.local
[core]
    editor = /usr/bin/vim
    excludesfile = ~/.gitignore
    pager = LESS=-R less
[color]
    ui = auto
[http]
    sslVerify = false
[alias]
    tr = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
    logg = log --stat --pretty=format:'%Cblue%h %Cgreen%ar %Cred%an %Creset%s %Cred%d'
    st = status -s -b
    pr = pull --rebase
