[user]
    name  = Toshihiro Morimoto
    email = m@dealfore.st
    signingkey = 523AEF38
[include]
    path = ~/.gitconfig.local
[core]
    editor             = /usr/bin/vim
    excludesfile       = ~/.gitignore
    pager              = LESS=-R less
    precomposedunicode = true
[color]
    ui = auto
[credential]
    helper = cache
[diff]
    tool      = vimdiff
    algorithm = patience
[alias]
    tr   = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
    logg = log --stat --pretty=format:'%Cblue%h %Cgreen%ar %Cred%an %Creset%s %Cred%d'
    br   = branch
    ci   = commit
    co   = checkout
    df   = diff
    dfs  = diff --staged
    st   = status -s -b
    pr   = pull --rebase
    sb   = show-branch -a
    d    = difftool -d
    dc   = difftool -d --cached
    dp   = difftool -d HEAD~
    fetch-pulls = fetch origin +refs/pull/*:refs/remotes/pull/*
    all-update-submodule   = submodule foreach 'git pull origin master'
    delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
[push]
    default = simple
[rebase]
    autosquash = true
[url "git@github.com"]
    pushinstedof = "git://github.com/"
    pushinstedof = "https://github.com/"
[http]
	postBuffer = 524288000
[commit]
	template = /Users/dealforest/.commit_template
