snippet pry
  binding.pry

snippet pryr
  binding.pry_remote

snippet ##
  # -*- coding: utf-8 -*-

snippet script
  #!/usr/bin/env ruby
  # -*- coding: utf-8 -*-

  ${1}

snippet e
  end

snippet m
  module ${1}

snippet c
  class ${1}

snippet i
  include ${1}

snippet ex
  extend ${1}
