[% is_error = 0 -%] 
[% IF validator && validator.error('${1:name}'); is_error = 1; END -%] 
<div class="clearfix[% IF is_error; ' error'; END -%]"> 
	<label for="$1">${2}</label> 
	<div class="input"> 
		<input class="xlarge" id="$1" name="$1" size="30" type="text" value="[% params.get('$1') -%]"/> 
		[% IF is_error -%] <span class="help-inline"> [% FOREACH message IN validator.error('$1') %] [% message %] [% END %] </span> [% END -%] 
	</div> 
</div>

