on checkRunApp()
    tell application "Finder"
        name of every process whose visible is true and name is "${1}"
        if the result as Unicode text is "$1" as Unicode text then
            return true
        else
            return false
        end if
    end tell
end checkRunApp

