on screenSize()
    set MENU_HEIGHT to 22
    tell application "Finder"
        set { X_LEFT, Y_LEFT, X_RIGHT, Y_RIGHT } to bounds of the window of the desktop
    end tell
    { X_RIGHT, Y_LEFT + MENU_HEIGHT, X_RIGHT, Y_RIGHT }
end screenSize
